.floating-cart {
  position: fixed;
  left: 36px;
  right: 36px;
  bottom: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: rem(10px 12px);
  border-radius: 12px;
  background: rgba(255, 255, 255, 0.90);
  backdrop-filter: blur(3px);
}

.floating-cart__price {
  color: #2B2D36;
  font-family: Poppins;
  font-size: rem(18px);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
}

.floating-cart__button {
  margin: 0;
  color: var(--4, #FFF);
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  --border-radius: 8px;
}