.home {

}

.home-container {

}

.home-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.home-header__avatar {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  overflow: hidden;
}

.home-header__avatar-image {
  object-fit: cover;
  object-position: center;
  width: 100%;
}

.home-header__logo {
  margin: 0 auto;
  max-width: 200px;
}

.home-header__icon {
  width: 24px;
  height: 24px;
}

.home-content {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 0 36px;
}

.hero-swiper {
max-height: 165px;
 width: 100%;
}

.hero-swiper__slide {

}

.hero-info-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #EC635E;
  border-radius: 12px;
}

.hero-info-box__text {
  padding: 43px 0 33px 0;
  color: var(--12, #F8DF6D);
  text-align: center;
  text-shadow: 1px 1px 0px #7EA0F8;
  font-family: Shrikhand;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.hero-info-box__text:nth-of-type(1) {
  padding: 0;
  font-size: 14px;
  transform: rotate(90deg);
  white-space: nowrap;
}

.hero-info-box__text:last-child {
  padding: 0;
  font-size: 14px;
  transform: rotate(270deg);
  white-space: nowrap;
}

.home-form {
  position: relative;
}

.home-form__input {
  background-color: #FFFFFF;
  border-radius: 8px;
  color: #B5B5B5;
}

.home-form__input-icon {
  z-index: 2;
  height: 24px;
  width: 24px;
}

.home-form__input-icon--left {
  position: absolute;
  left: 5px;
  top: 15px;
  color: #B5B5B5;
  ;
}

.home-form__input-icon--right {
  position: absolute;
  right: 5px;
  top: 15px;
  color: #2B2D36;
}


.home__headline {
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  background: var(--9, linear-gradient(108deg, #91C5F6 5.98%, #2559DE 77.74%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.home__button {
  width: 100%;
  margin: 20px 0;
  padding: 2px 82px;
  color: var(--4, #FFF);
  font-family: Shrikhand;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-radius: 8px;
  background: var(--9, linear-gradient(108deg, #91C5F6 5.98%, #2559DE 77.74%));
}

.home__text-group {
  display: flex;
  justify-content: space-between;
  padding: 0;
}

.home-shortcuts {
  display: flex;
  padding: 16px 20px;
  justify-content: space-between;
  align-items: flex-start;
  margin: 20px 0;
  background-color: #FFFFFF;
  border-radius: 12px;
}