.login {
  padding: 0;
  width: 100%;
  background-color: #FFFFFF;
}

.login__logo {
  max-width: 300px;
  margin: 0 auto;
}

ion-button {
  text-transform: none;
}

.login__card {
  box-shadow: none;
}

.login__card-content {
  background-color: #FFFFFF;
  padding: 0;
}

.login__form {
  padding: 0 60px 60px 60px;
  background-color: #FFFFFF;
}

.login__form-group {
  display: flex;
  background-color: #FFFFFF;
}

ion-input.login__form-input {
  gap: 0;
  background-color: #FFFFFF;
  padding: 0;
  border: 0;
  --color: var(--2, #2B2D36);
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  border-bottom: 0.5px solid var(--6, #E3E3E3);
  --placeholder-color: #B5B5B5;
}

.login__body {
  position: relative;
}

.login__body::before {
  position: absolute;
  content: "";
  width: 60px;
  height: 1px;
  background: #E3E3E3;
  top: 10px;
  left: -70px;
}

.login__body::after {
  position: absolute;
  content: "";
  width: 60px;
  height: 1px;
  background: #E3E3E3;
  top: 10px;
  right: -70px;
}

.login__socials {
  padding: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.login__socials-icon {
  width: 62px;
  height: 62px;
  max-height: 62px;
}

.login__socials-icon:nth-of-type(3) {
  max-height: 36px;
}

.login__socials-icon:nth-of-type(4) {
  max-height: 36px;
}

.login-info-box {
  display: flex;
  flex-direction: column;
  margin: 60px;
  border-radius: 16px;
  background: var(--9, linear-gradient(108deg, #91C5F6 5.98%, #2559DE 77.74%));
}

.login-info-box__body {
  padding: 8px 20px;
  color: #FFFFFF;
}

.login-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}